.footer-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px; 
}

.footer-content {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}