<mat-card style="width: 75vw; min-height: 50vh;">
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
    <ng-container *ngIf="!isLoading">
        <mat-card-header>
            <mat-card-title>
                <h1>{{capitalizeFirstLetter(berryDetails.name)}} Berry</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img [src]="berryDesc.sprites.default" alt="" style="aspect-ratio: 1/1; width: 100px;">
            <span>
                <h3>Type:</h3>
                <mat-chip>{{capitalizeFirstLetter(berryDetails.natural_gift_type.name)}}</mat-chip>
            </span>
            <span>
                <h3>Flavor:</h3>
                <mat-chip-listbox>
                    <ng-container *ngFor="let item of berryDetails.flavors">
                        <mat-chip *ngIf="item.potency > 0">
                            {{item.flavor.name}}
                        </mat-chip>
                    </ng-container>
                </mat-chip-listbox>
            </span>
            <span>
                <h3>Description:</h3>
                <p>{{berryDesc.effect_entries[0].effect}}</p>
            </span>
        </mat-card-content>
    </ng-container>
</mat-card>