<div class="flex flex-column justify-content-center align-items-center">
    <div class="header-area">
        <span class="text-4xl font-bold" style="margin: 0 0 12px;">Pokedex</span>
        <span class="text-lg text-700" style="margin: 0 0 12px;">Search for a Pokemon by Name or by National Pokedex Number</span>
        <div class="flex flex-row gap-3" style="width: 40vw;">
            <div class="flex-grow-1">
                <form [formGroup]="formGroup" class="flex-grow-1">
                    <p-autoComplete styleClass="flex-grow-1" formControlName="selectedCountry" [suggestions]="filteredPokemon" 
                    (completeMethod)="filterPokemon($event)" field="name" [scrollHeight]="'35vh'"
                    [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }">
                        <ng-template let-pokemon pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <img [src]="pokemon.image" style="aspect-ratio: default; width: 3rem;"/>
                                <div>{{ capitalizeFirstLetter(pokemon.name) }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </form>
            </div>
            <p-button (click)="filter.toggle($event)" icon="pi pi-filter-fill" styleClass="p-button-help"></p-button>
            <p-overlayPanel #filter [showCloseIcon]="true">
                <div class="filter-panel">
                    <span class="p-float-label w-full">
                        <p-dropdown [options]="pokemonTypes" [(ngModel)]="selectedType" placeholder="Filter by Type"
                        [style]="{ width: '100%' }" inputId="float-label"></p-dropdown>
                        <label for="float-label">Filter by Type</label>
                    </span>
                    <div class="filter-buttons">
                        <div class="filter-button hover:shadow-6 cursor-pointer" clickable style="background-color: red;"
                        (click)="resetFilter()">
                            <p>Reset</p>
                        </div>
                        <div class="filter-button hover:shadow-6 cursor-pointer" clickable style="background-color: green;"
                        (click)="filterByType()">
                            <p>Submit</p>
                        </div>
                    </div>
                </div>
            </p-overlayPanel>
        </div>
    </div>
    <div class="content-area shadow-3">
        <ng-container *ngIf="!isError">
        <!-- <div *ngFor="let poke of pokeList" [style]="{ width: '300px' }">
            <p-card [header]="capitalizeFirstLetter(poke.detail.name)"
            subheader="#{{convertToFourDigits(poke.detail.id)}}" 
            clickable (click)="goToDetails(poke.detail.name)"
            class="fadein animation-duration-1000">
                <ng-template pTemplate="header">
                    <div class="flex flex-row justify-content-center align-items-center"
                    [ngStyle]="{ 'background-image': bgColor(poke.detail.types), 'background-color': bgColor(poke.detail.types) }">
                        <img [src]="poke.detail.sprites.front_default" style="aspect-ratio: 1/1; max-width: 200px;">
                    </div>
                </ng-template>
                <mat-chip-listbox >
                    <mat-chip *ngFor="let types of poke.detail.types" 
                    [ngStyle]="{ 'background-color': typeColor(types.type.name) }">
                        {{capitalizeFirstLetter(types.type.name)}}
                    </mat-chip>
                </mat-chip-listbox>
            </p-card>
        </div> -->

        <div class="card shadow-6 hover:shadow-8 cursor-auto fadein animation-duration-1000" *ngFor="let poke of pokeList"
        [ngStyle]="{ 'background-image': bgColor(poke.type1, poke.type2), 'background-color': bgColor(poke.type1, poke.type2) }">
            <div class="card-content">
                <div class="project-img-holder">
                <img [src]="poke.image" class="project-img" alt="">
                </div>
                <div class="flex flex-column justify-content-center align-items-center">
                <p class="m-0 card-title text-2xl">{{capitalizeFirstLetter(poke.name)}}</p>
                <div class="card__chips-holder">
                    <div class="card__chips" [ngStyle]="{ 'background-color': typeColor(poke.type1) }">
                        <p>{{capitalizeFirstLetter(poke.type1)}}</p>
                    </div>
                    <div *ngIf="poke.type2 != null" class="card__chips" [ngStyle]="{ 'background-color': typeColor(poke.type2) }">
                        <p>{{capitalizeFirstLetter(poke.type2)}}</p>
                    </div>
                </div>
                <button class="project-button cursor-pointer flex flex-row justify-content-center align-items-center"
                (click)="goToDetails(poke.name)">Details</button>
                </div>
            </div>
        </div>
        </ng-container>
        <ng-container *ngIf="isError">
            <p>No Pokemon Found</p>
        </ng-container>
    </div>
</div>