<p>
  <mat-toolbar color="primary">
    <p-button pRipple styleClass="p-button-rounded p-button-text" [routerLink]="['/pages/pokemon']">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/2052px-Pok%C3%A9_Ball_icon.svg.png" 
      style="aspect-ratio: 1/1; width: 3rem;"/>
    </p-button>
    <span class="spacer"></span>
    <button mat-button>
      <span>Home</span>
    </button>
    <button mat-button>
      <span>Feature Pokemon</span>
    </button>
    <button mat-button>
      <span>Filter</span>
    </button>
  </mat-toolbar>
</p>
  